
#banner-cuide-amigo{
    width: 100%;
    
}



#conteudo-pagina-verde{
    height: 60vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/fundo-cachorro.svg);
    background-position: center;
    

}

#conteudo-pagina-verde h1{
   font-family: "Bebas Neue";
   color: #ffffff;
   font-size: 50px;
   text-align: center;
   margin-bottom: 25px;
}

#conteudo-pagina-verde p{
    color: #ffffff;
    text-align: center;
    width: 300px;
    font-size: 1.2em;
}



#destaque-verde{
    color: #267733;
}



#titulo-quem-somos{
    font-family: "Bebas Neue";
    font-size: 2.5em;
    margin-bottom: 10px;
    
}

article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
}



#img-gatos{
    width: 250px;
}

#a-saiba-mais{
   background-color: #85C950;
   border-radius: 10px;
   padding: 10px;
   font-weight: bold;
}

#a-saiba-mais:hover{
    background-color: #000000;
    color: #85C950;
}

#div-quem-somos{
    padding-left: 30px;
    border-left: solid 2px #85C950;
}

#div-precisa-de-ajuda{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}




#titulo-precisa-de-ajuda{
    font-family: "Bebas Neue";
    font-size: 2.5em;
    color: #78C53C;
   
}


