@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0px;
}

p{
    width: 250px;
    font-family: "Inter";
    margin-bottom: 20px;  
}


.conteudo-pagina{

    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/* header */
header{
    background-color: #85C950; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#logo{
    width: 130px;
}

nav{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    
    
}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Inter";
}

/* header- final */


/* footer */
footer{
    color: #FFFFFF;
    padding: 50px;
    background-color: #000000;
    font-family: "Inter";

    
   
}

#div-entre-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#footer-parte-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    flex-wrap: wrap;
}

#footer-parte-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

#footer-parte-2 p{
    width: 100%;
    display: flex;

    justify-content: center;
}

#div-redes-sociais{
    display: flex;
    flex-direction: column;
    
}

#div-redes-sociais div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.icons-redes-sociais{
    width: 25px;
    height: 25px;
}

@media (max-width: 400px){
    #logo{
        width: 80px;
    }
}